  <div>
    <div>
      <div class="bar-thin-brown" style="background-color: #AC9769;"></div>
      <div class="bar-thin-brown"></div>
      <div class="bar-green" style="min-height: 10rem;">
        <div class="footer-container">
          <a class="footer-button animated-footer" >OLX</a>
          <a class="footer-button animated-footer">Kontakt</a>
          <a class="footer-button animated-footer">Oferta</a>
        </div>
        <a class="icons" href="/icons">Icons</a>
      </div>
    </div>
  </div>
  <script src="../../index.js"></script>
</body>
</html>