  <div>
    <div>
      <div class="bar-thin-brown" style="background-color: #AC9769;"></div>
      <div class="bar-thin-brown"></div>
      <div class="bar-green" style="height: 10rem;">
        <div class="footer-container">
          <a class="footer-button animated-footer" >OLX</a>
          <a class="footer-button animated-footer">Kontakt</a>
          <a class="footer-button animated-footer">Oferta</a>
        </div>
        <a href="https://www.flaticon.com/free-icons/kid-and-baby" title="kid and baby icons">Kid and baby icons created by Vectoricons - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/campfire" title="campfire icons">Campfire icons created by smashingstocks - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/boat" title="boat icons">Boat icons created by surang - Flaticon</a>
      </div>
    </div>
  </div>
  <script src="../../index.js"></script>
</body>
</html>