  <div>
    <a href="https://www.flaticon.com/free-icons/kid-and-baby" title="kid and baby icons">Kid and baby icons created by Vectoricons - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/campfire" title="campfire icons">Campfire icons created by smashingstocks - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/boat" title="boat icons">Boat icons created by surang - Flaticon</a>
  </div>
  <script src="../../index.js"></script>
</body>
</html>