<%- include('partials/header') %>

<div class="container-1 bg">
  <img class="big-logo start-animation" src="resources/logo-big.png">
  <img class="btn-go-down start-animation-3 animated-2" src="resources/btn-go-down.png">
</div>
<div>
  <div>
    <div class="bar-thin-brown" style="background-color: #C6A969;"></div>
    <div class="bar-thin-brown"></div>
    <div class="bar-green" style="height: 12rem;"></div>
    <div class="bar-thin-brown"></div>
    <div class="bar-thin-brown" style="background-color: #C6A969;"></div>
  </div>
  <div class="container-2 bg-2">
    <div class="cards-container">
      <img class="card animated-3" src="resources/card-1.png">
      <img class="card animated-3" src="resources/card-2.png">
      <img class="card animated-3" src="resources/card-3.png">
      <img class="card animated-3" src="resources/card-4.png">
    </div>
    <img class="btn-go-down start-animation-3 animated-2" style="margin-bottom: 4.4rem;" 
    src="resources/btn-go-down.png">
  </div>
  <div>
    <div class="bar-thin-brown" style="background-color: #C6A969;"></div>
    <div class="bar-thin-brown"></div>
    <div class="bar-green" style="height: 12rem;"></div>
    <div class="bar-thin-brown"></div>
    <div class="bar-thin-brown" style="background-color: #C6A969;"></div>
  </div>
  <div class="container-1 bg-3">
    <p class="desc"><%- description %></p>
  </div>
  <div>
    <div class="bar-thin-brown" style="background-color: #C6A969;"></div>
    <div class="bar-thin-brown"></div>
    <div class="bar-green" style="height: 12rem;">
      <a href="https://www.olx.pl/d/oferta/domek-nad-jeziorem-kaszuby-linia-brzegowa-kominek-zagroda-szarlota-CID1816-IDAoU9v.html"
      >OLX</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>