<%- include('partials/header') %>

<div class="home-images">
  <img class="big-logo start-animation" src="resources/logo-big.png">
  <img class="bg" src="resources/home-bg.png">
  <img class="btn-go-down start-animation-3" src="resources/btn-go-down.png">
</div>

<%- include('partials/footer') %>