<%- include('partials/header') %>

<div class="container-1">
  <img class="bg" style="top: -10px" src="resources/home-bg.png">
  <img class="big-logo" src="resources/logo-big.png">
  <img class="btn-go-down start-animation-3 animated-2" src="resources/btn-go-down.png">
</div>
<div>
  <!-- <img class="bg" style="top: 20rem" src="resources/home-bg-2.png"> -->
  <div class="cards-container">
      <img class="animated-3" src="resources/card-1.png">
      <img class="animated-3" src="resources/card-2.png">
      <img class="animated-3" src="resources/card-3.png">
      <img class="animated-3" src="resources/card-4.png">
  </div>
</div>

<%- include('partials/footer') %>