<%- include('partials/header') %>

<div class="home-images">
  <img class="big-logo start-animation" src="resources/logo-big.png">
  <img class="bg" src="resources/home-bg.png">
</div>

<%- include('partials/footer') %>