body {
  background-color: #F1E4C3;
}

.logo-nav {
  height: 8rem;
  background-color: #597E52;
  text-align: center;
}

.buttons-nav {
  height: 2.3rem;
  background-color: #C6A969;
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  padding: 0.6rem 50rem;
}

.header-button {
  text-decoration: none;
  color: white;
  border: 1px solid #B19557;
  border-radius: 10px;
  margin: 0.3rem;
  line-height: 90%;
  padding: 0.3rem 3rem;
  margin-bottom: 0.4rem;
}

.header-thin-brown {
  height: 0.3rem;
  background-color: #9E895A;
}

.font-20 {
  font-size: 15pt;
  font-weight: 350;
}

.animated {
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.1s ease-in-out, color 0.4s ease-in-out; /* Adjust transition timing function */
}

.animated:hover {
  transform: scale(1.04);
  background-color: white;
  color:black;
  font-weight: 500;
}
.animated:active {
  transform: scale(1.0); /* Slightly shrink the button on click */
  transition: transform 0.1s ease; /* Add transition property for click */
}

.text {
  color: black;
  font-weight: 500;
  padding: 6rem 25%;
  text-align: justify;
  font-size: 14pt;
}
