body {
  background-color: #F1E4C3;
}

.logo-nav {
  height: 8rem;
  background-color: #597E52;
  text-align: center;
}

.buttons-nav {
  height: 2.3rem;
  background-color: #C6A969;
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  padding: 0.6rem 50rem;
}

.header-button {
  text-decoration: none;
  color: white;
  border: 1px solid #B19557;
  border-radius: 10px;
  margin: 0.3rem;
  line-height: 90%;
  padding: 0.3rem 3rem;
  margin-bottom: 0.4rem;
}

.header-thin-brown {
  height: 0.3rem;
  background-color: #9E895A;
}

.header {
  position: fixed;
}

.font-20 {
  font-size: 15pt;
  font-weight: 350;
}

.animated {
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.1s ease-in-out, color 0.4s ease-in-out; /* Adjust transition timing function */
  transform-origin: center;
}

.animated:hover {
  transform: scale(1.0);
  background-color: white;
  color:black;
  
}
.animated:active {
  transform: scale(0.97); /* Slightly shrink the button on click */
  transition: transform 0.1s ease; /* Add transition property for click */
}

.text {
  color: black;
  font-weight: 500;
  padding: 6rem 25%;
  text-align: justify;
  font-size: 14pt;
}

.bg {
  width: 100%;
  margin-top: -16px;
  position: relative;
  z-index: -1;
}

.big-logo, .btn-go-down {
  position:absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.btn-go-down {
  top: 85%;
}

img {
  user-select: none;
  pointer-events: none;
}

.start-animation {
  opacity: 0;
  animation: moveup 0.5s linear forwards;
}

.start-animation-3 {
  animation: comeUp 2s linear;
}

.start-animation-2 {
  animation: comeDown 5s ;
}

@keyframes moveup {
  100%{
    opacity: 1;
  }
}

@keyframes comeUp {
  0% {
    transform: translateY(150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes comeDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}